@inherits UmbracoViewPage
@inherits UmbracoViewPage<List<FeaturedItem>>
@using TEC.Web.Models


<div id="fh5co-project">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 text-left fh5co-heading  animate-box">
                <span>@Umbraco.Field("introLight")</span>
                <h2>@Umbraco.Field("introTitle")</h2>
                <p>@Umbraco.Field("introContent")</p>
            </div>
        </div>

        <div class="row">
                @RenderFeaturedItem()
        

        </div>

    </div>

</div>

@helper RenderFeaturedItem()
    {

        foreach (var i in Model)
        {
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="@i.LinkUrl">
                    <img src="@i.ImageUrl" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
                    <div class="fh5co-copy">
                        <h3>@i.Name</h3>
                        <p>@i.Category</p>
                    </div>
                </a>
            </div>
        }


        @*<a href="@item.LinkUrl" class="featured-grid @extraClass" style="background-image: url('@item.ImageUrl');">
                <div class="desc">
                    <h3>@item.Name</h3>
                    <span>@item.Category</span>
                </div>
            </a>*@

}
